body,
#social ul li a,
#menu li a.current,
#menu li a:hover,
#mc-embedded-subscribe-form .mc-field-group input,
#mc-embedded-subscribe-form .row-submit .form-submit,
#contacts_form .field-row input[type='text'],
#contacts_form .field-row input[type='email'],
#contacts_form .field-row textarea,
#contacts_form .field-row .form-submit {
	color: #aae2ee;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aae2ee;
  	opacity:  .5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #aae2ee;
  	opacity:  .5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #aae2ee;
  	opacity:  .5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #aae2ee;
  	opacity:  .5;
}
.logo-trian {
	stroke: #aae2ee;
}
#sandglass .sand-half,
#sandglass .part-top,
.show-section:after,
.show-section:before {
	border-top-color: #aae2ee;
}
#sandglass .sand-half + .sand-half,
#sandglass .part-bot {
	border-bottom-color: #aae2ee;
}
.show-section,
#mc-embedded-subscribe-form .row-submit .form-submit,
#contacts_form .field-row .form-submit {
	border-color: #aae2ee;
}
#social ul li:after,
#social ul li a:after {
  background-image: url(../../images/aqua/hexagon.png);
}
#config-show {
  background-image: url(../../images/aqua/configurator.png);
}
#menu li a.current:after {
  background-image: url(../../images/aqua/menu-current.svg);
}
.content-pane .section-title {
  background-image: url(../../images/aqua/pane-title.svg);
}
.columns .col .about-icon.icon-1 {
  background-image: url(../../images/aqua/icon-about-1.png);
}
.columns .col .about-icon.icon-2 {
  background-image: url(../../images/aqua/icon-about-2.png);
}
.columns .col .about-icon.icon-3 {
  background-image: url(../../images/aqua/icon-about-3.png);
}
#mc-embedded-subscribe-form .mc-field-group input,
#contacts_form .field-row input[type='text'],
#contacts_form .field-row input[type='email'],
#contacts_form .field-row textarea,
#contacts_form .field-row .form-submit:hover {
  border-color: rgba(170, 226, 239, .5);
}
#mc-embedded-subscribe-form .row-submit .form-submit:hover {
  border-color: rgba(170, 226, 239, .5);
}
#contacts_form .field-row .form-submit:hover {
  background: rgba(170, 226, 239, .1);
}
#single-img {
  background-image: url(../../images/bg-slide2.jpg);
}